.main{
 display: flex;
 flex: 1; 
 align-content: center;
 justify-content: center;   
}

.center{
  display: flex;  
  width: 700px; 
  align-self: center;  
  flex-direction: column;  
  text-align: center;
  padding: 10px;
}

.title{
 margin-bottom: 30px;
}

