.services {
  /* background: var(--mainGrey); */
  background: #e2e1e0;
  padding: 4rem 0;
  
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;  
}
.service {
  margin: 2rem 0;
  text-align: center;
}

.imagebox {
  position: relative;
  margin: auto;
  overflow: hidden;  
}

.imagebox img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.imagebox:hover img {
  transform: scale(1.1);
}

.service span {
  /* background: var(--primaryColor); */
  background: #4CAF50;
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service h4 {
  text-transform: uppercase;
}

.btn-white, .btn-primary {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: #7f0f0f;
    border: 2px solid var(--mainWhite);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}

.card{
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;   
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header{
  display: flex;  
  align-items: center;  
}

.header-icon{  
  display: flex; 
  width: 40px;
  height: 40px;  
  background-color: #e0f2f1;
  color: teal;   
  font-size: x-large;   
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;  
  align-items: center;  
  margin-left: 8px;
  border-radius: 50%;
}


.header-title{
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px; 
  font-size: x-large;
  text-transform: capitalize;
}

.footer-text{
  display: flex;
  padding:16px;
  font-size: medium;
  align-self: flex-start;
  color: gray;
  flex-grow: 1;
}

.footer{
  display: flex;
  flex-direction: column;  
  flex-grow: 1;
}

.footer-actions{
  display: flex;
  flex-direction: row;  
}

.footer-action{    
  margin-left:10px;
   margin-right:10px;
  margin-bottom: 16px;
  background-color: transparent;
  text-transform: uppercase !important;
  border-radius: 4px;
  border: none;
  color: teal;
  font-weight: bold;
  padding: 4px 10px;
  text-align: center;  
  font-size: 16px;
}

.footer-action:hover{
  background-color: #b2dfdb;
  text-decoration: none;
  color: teal;
}
