.services {
  /* background: var(--mainGrey); */
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}
.service {
  margin: 2rem 0;
  text-align: center;
}

.imagebox {
  position: relative;
  margin: auto;
  overflow: hidden;  
}

.imagebox img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.imagebox:hover img {
  transform: scale(1.1);
}

.service span {
  /* background: var(--primaryColor); */
  background: #4CAF50;
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service h4 {
  text-transform: uppercase;
}

.services button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-white, .btn-primary {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: #7f0f0f;
    border: 2px solid var(--mainWhite);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}