.main{
 display: flex; 
 flex-direction: column;
 justify-content: center;
 background-color: #fafafa;
}

.title{   
  text-align: center;  
  letter-spacing:7px;
  font-size:1.5rem;
  text-transform: uppercase;
  margin-bottom:2rem;
  margin-top:2rem;
}

.text{
  text-align: start;  
}

.survey-section{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;    
}

.survey-image{ 
  display: flex;
  flex:3;     
  justify-content: center;
  padding: 15px;
}

.survey{
  display: none;
  flex:1;
}

.survey-image img{  
  object-fit: none ; 
  flex: 1; 
}

.survey-text-button{ 
  padding: 50px;
  display: flex;
  flex:3;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.completed-text{  
  align-self: center;
  text-align: center;  
  display: none;
  color: var(--primaryColor);
}